.nav-mobile-toggle {
  border: none;
  display: none;
}

.hidden {
  display: none;
}

nav {
  height: 50px;
  margin-top: 45px;
  display: flex;
  align-items: center;
  position: absolute;
}
nav .nav-logo {
  height: 50px;
  width: 50px;
}
nav .nav-logo img {
  height: 50px;
  width: 50px;
}
nav .nav-links-container {
  transition: 340ms;
}
nav .nav-links-container .nav-link {
  font-size: 12px;
  letter-spacing: 2px;
  text-decoration: none;
  color: white;
  margin-left: 45px;
}

@media (max-width: 810px) {
  .nav-mobile-toggle {
    z-index: 2;
    display: initial;
    position: absolute;
    top: 45px;
    right: 30px;
    cursor: pointer;
  }
  .nav-mobile-toggle i {
    display: block;
    width: 20px;
    height: 2px;
    background: #fff;
  }
  .nav-mobile-toggle i:nth-child(2) {
    margin-top: 4px;
    opacity: 1;
  }
  .nav-mobile-toggle i:nth-child(3) {
    margin-top: 4px;
  }

  nav {
    margin-top: 30px;
  }
  nav .nav-logo {
    z-index: 2;
  }
  nav .nav-links-container.active {
    right: 0;
  }
  nav .nav-links-container {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 50%;
    display: flex;
    height: -webkit-fill-available;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    background: var(--dark-grey);
  }
  nav .nav-links-container .nav-link {
    margin: 20px 30px 20px 45px;
  }
}
#hero-img {
  width: 100%;
  height: 660px;
  padding-top: 100px;
  background: url("../img/orange-house.png") no-repeat 25% 50%;
  background-size: cover;
}
#hero-img .hero-container {
  height: 100%;
  width: auto;
  max-width: 900px;
  min-width: 236px;
  margin: 0 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#hero-img .hero-container .hero-text {
  font-size: 120px;
  font-weight: bold;
}
#hero-img .hero-container span {
  height: 3px;
  background: white;
  width: 100%;
  margin: 20px 0;
}
#hero-img .hero-container .hero-text-small {
  font-weight: 400;
  font-size: 24px;
}

@media (max-width: 950px) {
  #hero-img .hero-container .hero-text {
    font-size: 60px;
  }
  #hero-img .hero-container span {
    height: 2px;
  }
  #hero-img .hero-container .hero-text-small {
    font-size: 16px;
  }
}
@media (max-width: 810px) {
  #hero-img .hero-container {
    margin: 0 30% 0 30px;
  }
}
.section-container {
  min-height: 1000px;
  height: auto;
  margin: 60px 0;
  display: flex;
  flex-direction: column;
}
.section-container .section-content-container {
  width: 100%;
  height: 100%;
  display: flex;
}
.section-container .section-content-container .section-text {
  width: 20%;
  margin-right: 5%;
}
.section-container .section-content-container .section-text .span-line-text {
  display: inline-block;
  height: 2px;
  width: 100%;
  background: white;
  margin: 25px 0;
}
.section-container .section-content-container .section-text #secondPara {
  margin: 20px 0;
}
.section-container .section-content-container .section-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 75%;
}
.section-container .section-content-container .section-grid a {
  border: 1px solid white;
  height: 300px;
}
.section-container .section-content-container .section-grid .grid-sm, .section-container .section-content-container .section-grid .grid-md, .section-container .section-content-container .section-grid .grid-lg {
  margin-bottom: 25px;
}
.section-container .section-content-container .section-grid .grid-sm {
  width: 35%;
}
.section-container .section-content-container .section-grid .grid-md {
  width: 60%;
}
.section-container .section-content-container .section-grid .grid-lg {
  width: 100%;
}

@media (max-width: 1024px) {
  .section-container {
    flex-direction: column;
  }
  .section-container .section-content-container {
    flex-direction: column;
  }
  .section-container .section-content-container .section-text {
    width: 100%;
    margin-right: 0;
    margin-bottom: 5%;
  }
  .section-container .section-content-container .section-grid {
    width: 100%;
  }
  .section-container .section-content-container .section-grid .grid-sm {
    width: 40%;
  }
  .section-container .section-content-container .section-grid .grid-md {
    width: 55%;
  }
}
@media (max-width: 650px) {
  .section-container {
    margin: 30px 0;
  }
  .section-container .section-content-container .section-grid .grid-sm, .section-container .section-content-container .section-grid .grid-md {
    margin-bottom: 5%;
  }
  .section-container .section-content-container .section-grid .grid-sm {
    width: 100%;
  }
  .section-container .section-content-container .section-grid .grid-md {
    width: 100%;
  }
  .section-container .section-content-container .section-grid .grid-lg {
    margin: 0 0 5% 0;
  }
  .section-container .span-line-bottom-border {
    margin-top: 35px;
  }
}
button {
  width: 150px;
  height: 35px;
  background: transparent;
  border: 3px solid white;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
button a {
  color: white;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 2px;
  text-decoration: none;
}
button .btn-arrow {
  height: 15px;
  width: 15px;
  margin-left: 5px;
}

@media (max-width: 950px) {
  button {
    height: 30px;
    width: 130px;
    border: 2px solid white;
  }
  button a {
    font-size: 10px;
  }
  button .btn-arrow {
    height: 13px;
    width: 13px;
  }
}
footer {
  height: auto;
  max-height: 335px;
  margin: 60px auto;
}
footer .footer-border {
  display: inline-block;
  height: 2px;
  width: 100%;
  background: white;
  margin-bottom: 40px;
}
footer div {
  margin-right: auto;
}
footer h3 {
  font-size: 24px;
  font-weight: bold;
  line-height: 24px;
  margin-bottom: 60px;
  text-decoration: none;
  color: white;
}
footer #footer-items {
  display: flex;
  margin: 0;
}
footer #footer-name a {
  height: 50px;
  width: 50px;
  display: inline-block;
}
footer #footer-name a img {
  height: 50px;
  width: 50px;
}
footer #footer-name h3 {
  max-width: 100px;
  display: inline-block;
  margin-left: 20px;
  margin-bottom: 35px;
}
footer #footer-social #footer-social-icons {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 810px) {
  footer {
    margin: 30px auto;
  }
  footer #footer-items {
    flex-direction: column;
  }
  footer #footer-items #footer-name, footer #footer-items #footer-social, footer #footer-items #footer-contact {
    width: 100%;
  }
  footer #footer-items #footer-social #footer-social-icons {
    display: inline-block;
  }
  footer #footer-items #footer-social #footer-social-icons a:nth-child(2) {
    margin: 0 5px;
  }
  footer #footer-items #footer-name h3 {
    max-width: 50px;
  }
  footer #footer-items .footer-inner, footer #footer-items #footer-social-icons {
    float: right;
  }
  footer #footer-items .footer-inner, footer #footer-items h3 {
    display: inline-block;
  }
  footer #footer-items h3 {
    font-size: 22px;
  }
  footer #footer-items p {
    font-size: 14px;
  }
}
.designs-span {
  height: 2px;
  width: 100%;
  background: white;
  display: inline-block;
  margin: 20px auto;
}

.designs-grid {
  max-width: 100%;
  display: grid;
  grid-gap: 1rem;
  margin: 0 auto 60px auto;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.designs-grid .designs-grid-item {
  min-height: 300px;
  min-width: 250px;
  border: 1px solid white;
  padding: 1rem;
}

.designs-text {
  margin-bottom: 30px;
}

.design-content {
  display: flex;
}
.design-content .design-content-text {
  width: 45%;
  margin-right: 5%;
}
.design-content .design-content-grid {
  width: 50%;
}
.design-content .design-content-text p {
  margin-top: 20px;
}
.design-content .design-content-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.design-content .design-content-grid .design-content-grid-item-main, .design-content .design-content-grid .design-content-grid-item-sm {
  border: 1px solid white;
}
.design-content .design-content-grid .design-content-grid-item-main {
  height: 500px;
  width: 100%;
}
.design-content .design-content-grid .design-content-grid-item-sm {
  height: 260px;
  width: 48%;
  margin-top: 20px;
}

:root {
  font-size: 16px;
  scroll-behavior: smooth;
  --dark-grey: #262626;
  --mid-grey: #4b4b4b;
  --light-grey: #6d6d6d;
  --orange: #e3623c;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  font-family: "Helvetica Neue", "Arial";
  background-color: var(--dark-grey);
  color: white;
}

h1 {
  font-size: 56px;
  font-weight: bold;
}

p {
  font-size: 16px;
  line-height: 24px;
}

.container {
  margin: 0 120px;
}

.page-container {
  padding-top: 170px;
}

@media (max-width: 810px) {
  .container {
    margin: 0 30px;
  }

  .page-container {
    padding-top: 120px;
  }

  h1 {
    font-size: 40px;
  }

  p {
    font-size: 14px;
  }
}

/*# sourceMappingURL=main.css.map */
