.design-content {
    display: flex;

    .design-content-text {
        width: 45%;
        margin-right: 5%;
    }

    .design-content-grid {
        width: 50%;
    }

    .design-content-text p {
        margin-top: 20px;
    }

    .design-content-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .design-content-grid-item-main, .design-content-grid-item-sm {
            border: 1px solid white;
        }

        .design-content-grid-item-main {
            height: 500px;
            width: 100%;
        }

        .design-content-grid-item-sm {
            height: 260px;
            width: 48%;
            margin-top: 20px;
        }
    }
}