.section-container {
    min-height: 1000px;
    height: auto;
    margin: 120px 0 60px 0;
    display: flex;

    .section-text {
        width: 20%;
        margin-right: 5%;

        h1 {
            font-size: 56px;
            font-weight: bold;
        }
    
        .span-line-text {
            display: inline-block;
            height: 2px;
            width: 100%;
            background: white;
            margin: 25px 0;
        }
    
        p {
            font-size: 16px;
            line-height: 24px;
        }
    }
    
    .section-grid-1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 75%;

        a {
            border: 1px solid white;
            height: 300px;
        }

        .grid-sm {
            width: 35%;
        }

        .grid-md {
            width: 60%;
        }

        .grid-lg {
            width: 100%;
        }
    }
}

@media (max-width: 1024px) {
    .section-container {
        flex-direction: column;

        .section-text {
            width: 100%;
            margin-right: 0;
            margin-bottom: 5%;
        }

        .section-grid-1 {
            width: 100%;

            .grid-sm {
                width: 40%;
            }

            .grid-md {
                width: 55%;
            }

            .grid-lg {
                margin: 5% 0;
            }
        }
    }
}

@media (max-width: 650px) {
    .section-container {
        margin: 60px 0;

        .section-text {
            h1 {
                font-size: 40px;
            }

            p {
                font-size: 14px;
            }
        }

        .section-grid-1 {
            .grid-sm, .grid-md {
                margin-bottom: 5%;
            }

            .grid-sm {
                width: 100%;
            }

            .grid-md {
                width: 100%;
            }

            .grid-lg {
                margin: 0 0 5% 0;
            }
        }
    }
}
